---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light-Dark Mode</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    #<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>
    
    {% include scripts.html %}
             <!-- Dark Mode Switch -->
    <div class="theme-switch-wrapper">
        <span id="toggle-icon">
            <span class="toggle-text">Light Mode</span>
            <i class="fa-solid fa-sun"></i>
        </span>
        <label class="theme-switch">
            <input type="checkbox">
            <div class="slider round"> </div>
        </label>
    </div>
    
    <script src="https://kit.fontawesome.com/8d9600f1af.js" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
  </body>
    
    <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
    </footer>
</html>
